@model Chat
@{
    ViewData["Title"] = "CreateChat";
    Layout = "LayoutAirbnb";
}


<div class="row gx-0">
    <div class="col-md-1 custom-chat-border">
@*        <div class="custom-border-chat">
            <h3 class="chat-titles">Chat</h3>
        </div>
        <div class="chat-height">
            <div class="card mb-3 card-chat card-chat-bc">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="./320774817_962603361383987_7324520275009562393_n.jpg" class="img-fluid rounded-circle chat-img" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body card-body-chat">
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="col-md-10 custom-chat-border">
        <div class="custom-border-chat">
            <h3 class="chat-titles">@Model.User.FirstOrDefault(u=>u.Id == ViewBag.contactUser)</h3>
        </div>
        <div class="d-flex justify-content-start flex-column message-custom messagesList">
        @if (Model.Message.Any()){
            @foreach (var Message in @Model.Message.TakeLast(20))
            {
                if (Message.UserId == ViewBag.currUser)
                {
                    <div>
                        <p class="px-2 fw-bold"><span class="user-us">@Model.User.FirstOrDefault(u=>u.Id == ViewBag.currUser)</span> :<span class="fst-italic fw-lighter user-msg">@Message.MsgText</span></p>
                    </div>
                }
                else if (Message.UserId == ViewBag.contactUser)
                {
                    <div class="d-flex justify-content-end">
                        <p class="px-2 fw-bold"><span class="fst-italic fw-lighter user-msg">@Message.MsgText</span> :<span class="user-us">@Model.User.FirstOrDefault(u=>u.Id == ViewBag.contactUser)</span></p>
                    </div>
                }
            }
        }
        </div>
        <div class="chat-height d-flex justify-content-end flex-column">
            <div class="chat-message-form">
                <form class="form-control d-flex" method="post" asp-action="SendMessage">
                    <input type="hidden" name="ChatId" value="@Model.Id" />
                    <input type="hidden" name="UserId" value="@ViewBag.currUser" />
                    <input type="hidden" name="ReceiverId" value="@ViewBag.contactUser" />
                    <input type="text" id="messageInput" name="Message" placeholder="Type a message" class="form-control rounded-pill">
                    <button type="submit" id="sendButton" class="btn">
                        <i class="fa-solid fa-play"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        scrollToBottom();
        ('#sendButton').click(scrollToBottom());

    });
    const scrollToBottom = function(){
        $('.messagesList').animate({
            scrollTop: $('.chat-height').offset().top
        }, 'slow');
        console.log("scroll");
    }
</script>