@model Mansion

@{
    ViewData["Title"] = "MansionDetails";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>MansionDetails</h1>

<div>
    <h4>Mansion</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6 row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.NoGuest)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.NoGuest)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.NoBedroom)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.NoBedroom)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.NoBed)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.NoBed)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.NoBathroom)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.NoBathroom)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Approved)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Approved)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Build_No)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Build_No)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Zipcode)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Zipcode)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.PostDate)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.PostDate)
            </dd>
        </div>
        <div class="col-md-6">
            @foreach (var img in @Model.MansionPhotos)
            {
                <img src="~/Images/mansionsPhotos/@img.MansionPhoto" class="img-fluid w-25" />
            }
        </div>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
