@model IEnumerable<Mansion>
@{
    ViewData["Title"] = "MansionState";
    Layout = "~/Views/Shared/LayoutAirbnb.cshtml";
}

<h1>Mansion State</h1>

<table class="table table-light table-striped">
    @foreach (var mansion in @Model)
    {
        
    <thead>
        <tr>
            <th scope="col">Client Name</th>
            <th scope="col">Mansion Title</th>
            <th scope="col">Check In</th>
            <th scope="col">Check Out</th>
            <th scope="col">State</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Reservation in @mansion.Reservations)
        {
            <tr>
                <td scope="row">@Reservation.User.Email</td>
                <td >@Reservation.Mansion.Title</td>
                <td >@Reservation.Check_in</td>
                <td >@Reservation.Check_out</td>
                <td>
                    @if (Reservation.Approved)
                    {
                            <div class="badge bg-success">Approved</div>
                    }
                    else
                    {
                            <div class="badge bg-danger">Pending or Rejected</div>
                    }
                </td>
                <td>
                    <a class="btn btn-success btn-sm" asp-action="MansionOffer" asp-route-state="1" asp-route-reservationId="@Reservation.Id">Accept</a>
                    <a class="btn btn-danger btn-sm" asp-action="MansionOffer" asp-route-state="0" asp-route-reservationId="@Reservation.Id">Decline</a>
                        <a class="btn btn-dark btn-sm" asp-action="CreateChat" asp-controller="Chat" asp-route-ReceiverId="@Reservation.UserId">Contact</a>
                </td>
            </tr>
        }
    </tbody>
    }
</table>
