@model Airbnb.ViewModels.HomeControlerViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div class="icon-bar my-5">
    @foreach (var m in Model.MansionCategories)
    {
        <div class="scroll">
            <i class="fa-solid fa-hotel  d-flex justify-content-center"></i>
            <a class="my-1 category-name" asp-controller="Home" asp-action="FilterMansion" asp-route-CategoryId="@m.Id">@m.Name</a>
        </div>
        
    }
</div>

<div class="container">
    <div class="row row-cols-4">
    @foreach(var item in Model.Mansion)
        {
            <div class="col mb-4">
                <a  style="text-decoration:none; color:inherit;" asp-action="mansionDetails" asp-controller="Home" asp-route-id="@item.Id">
                    <div id="carousel-@item.Id" class="carousel slide slide-img-fix" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @foreach (var image in item.MansionPhotos)
                            {
                                <div class="carousel-item  border-5 @(image==item.MansionPhotos.First()?"active":"")">
                                    <img src="~/Images/mansionsPhotos/@image.MansionPhoto" class="d-block w-100 mansion-image" alt="...">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@item.Id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-@item.Id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="m-0 p-0">
                        <p class="mt-2 ms-2 fw-bold info-title">@item.City</p>
                        <p class="ms-2 info-title gray">@item.Title</p>
                        <p class="ms-2 info-title gray">$@item.Price night</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


